.stepLinkButton {
  background: transparent;
  border: none;
  color: #fff;
  align-self: flex-start;
  cursor: pointer;
  transition: 0.5s;

  &:hover {
    text-shadow: 0 0 1px #fff;
    transform: scale(1.1);
  }
}
